.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
data/landing/
data/curated/
data/raw/
*.parquet
*.log
dist/
build/
.DS_Store
airflow/logs/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
spark-warehouse/
apps/web/node_modules/
apps/web/.next/
apps/web/.env.local

